<%= simple_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.input :name %>
  <%= f.label :address %>
  <%= f.input :address %>
  <%= f.label :phone_number %>
  <%= f.input :phone_number %>
  <%= f.label :category %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>
