<%= simple_form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :content %>
  <%= f.input :content %>
  <%= f.label :rating %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
